@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.movieWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.movie {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.bookMyshow-logo{
  height: 33px;
  width: 115px;
}
